@model CatheringFullViewModel

@using Hookah.Resources
@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <style>
        #sendBtn.active {
            background-color: #fff;
            color: #100806;
        }
    </style>
}
<main id="home">
    <section id="mainPhoto">
        <div class="background">
            <div class="image">
                <picture>
                    <source srcset="@(Model.CatheringView.ImageMB ?? "sources/img/default-mb.jpg")"
                            media="(max-width: 768px)" />
                    <source srcset="@(Model.CatheringView.ImagePL ?? "sources/img/default-pl.jpg" )"
                            media="(max-width: 1200px)" />
                    <img src="@(Model.CatheringView.ImageLP ?? "sources/img/default-lp.jpg")" />
                </picture>
                <div class="overlay"></div>
            </div>
            <div class="backgroundContent d-flex flex-column align-items-center justify-content-center">
                <h2>@Html.Raw(Model.CatheringView.ImageTitle)</h2>
                <img src="@(Model.SiteConfigurationView.CompanyLogoImage ?? "sources/img/company-icon.jpg")" alt="">
            </div>
        </div>
    </section>
    <section id="cathering-content-details" class="section-common">
        <h2>We offer all-inclusive hookah catering service for all kinds of events</h2>
        <ul>
            @foreach (var eventItem in Model.CatheringEvents)
            {
                <li><span>@eventItem.Name</span></li>
            }
        </ul>
        <hr>
        <p>@Html.Raw(Model.CatheringView.BaseTitleText)</p>
        <h3>@Html.Raw(Model.CatheringView.BaseTitleBoldText)</h3>
    </section>
    <section id="cathering-content-packages">
        <div class="title">
            <h1>@Html.Raw(Model.CatheringView.SelectPackageTitle)</h1>
            <div class="bottom-line"></div>
        </div>
        <div class="packages row">
            @foreach (var package in Model.Packages)
            {
                <div class="package col-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="intro">
                        <div class="title">
                            <h1>@package.Title</h1>
                            <div class="bottom-line"></div>
                        </div>
                        <ul>
                            @foreach (var item in package.Items)
                            {
                                <li><span>@item.Text</span></li>
                            }
                        </ul>
                        <div class="package-bottom">
                            <div class="picing">
                                <h5>Extra hour <strong>$@package.ExtraHourPrice</strong></h5>
                                <hr>
                                <h5>From <strong>$@package.InitialPrice</strong></h5>
                            </div>
                            <a href="javascript:;" data-id="@package.Id" class="call-button order-package">Order</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </section>
    <section id="cathering-content-precess" class=" section-common">
        <div class="title">
            <h1>@Html.Raw(Model.CatheringView.HowItWorksTitle)</h1>
            <div class="bottom-line"></div>
        </div>
        <div class="cathering-content-precess-flow">
            <ul>
                @foreach (var step in Model.HowItWorksSteps.OrderBy(m => m.OrderNumber))
                {
                    <li class="d-flex align-items-center justify-content-between">
                        <p>
                            @Html.Raw(step.Text)
                        </p>
                        <img src="@step.ImagePath" alt="">
                    </li>
                }
            </ul>
        </div>
    </section>
    <section id="cathering-order" class="section-common-nopadding">
        <div class="title">
            <h1>@Html.Raw(Model.CatheringView.OrderTitle)</h1>
            <div class="bottom-line"></div>
        </div>
        <partial name="_orderPartial" model="new OrderViewModel()">
    </section>
</main>

@section Scripts{
    <script src="~/sources/plugins/jquery-mask/jquery.mask.min.js"></script>
    <script src="~/sources/plugins/sweetealert/sweetalert.min.js"></script>
    <script>
        $(".order-package").click(function (e) {
            let packageId = $(this).data("id");
            $("#PackageId").val(packageId);
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#cathering-order").offset().top
            }, 2000);
        });
        (function ($) {
            $(function () {
                $('#tel').mask('(000) 000-0000');
                $('#day').mask('00');
                $('#year').mask('0000');
                $('#month').mask('00');
            });
        })(jQuery);
        var isSubmitted = false;
        function onBegin() {
            if (isSubmitted) {
                return;
            }
            isSubmitted = true;
            $("#sendBtn").prop('disabled', true);
            $("#sendBtn").addClass("active");
            util.loading(true, "#sendBtn");
            console.log("begin");

        }
        function onSuccess(data) {
            isSubmitted = false;
            $("#sendBtn").prop('disabled', false);
            util.loading(false, "#sendBtn");
            $("#sendBtn").removeClass("active");

            Swal.fire({
                title: "@UI.OrderSendedSuccessfully",
                text: "@Html.Raw(UI.OrderSendedSuccessfullyText)",
                icon:"success",
                showCancelButton: false,
                confirmButtonText: "@UI.Yes"
            }).then(function (result) {
                if (result.value) {
                    window.location.reload();
                } else if (result.dismiss === "cancel") {

                }
            });

        }
        function onFailure() {
            console.log("fail");
            isSubmitted = false;
            $("#sendBtn").prop('disabled', false);
            util.loading(false, "#sendBtn");
            $("#sendBtn").removeClass("active");
        }
    </script>
}
