@model MenuFullViewModel 
@using Hookah.Controllers
@{
    ViewData["Title"] = "Index";
}

<main id="home">
    <section id="mainPhoto">
        <div class="background">
            <div class="image">
                <picture>
                    <source srcset="@(Model.MenuViewModel.ImageMB ?? "sources/img/default-mb.jpg")"
                            media="(max-width: 768px)" />
                    <source srcset="@(Model.MenuViewModel.ImagePL ?? "sources/img/default-pl.jpg" )"
                            media="(max-width: 1200px)" />
                    <img src="@(Model.MenuViewModel.ImageLP ?? "sources/img/default-lp.jpg")" />
                </picture>
                <div class="overlay"></div>
            </div>
            <div class="backgroundContent d-flex flex-column align-items-center justify-content-center">
                <h2>@Html.Raw(Model.MenuViewModel.ImageTitle)</h2>
                <img src="@(Model.SiteConfiguration.CompanyLogoImage ?? "sources/img/company-icon.jpg")" alt="">
            </div>
        </div>
    </section>
    <section id="hookah-flavors">
        <h1>@Html.Raw(Model.MenuViewModel?.FlavorsTitle)</h1>
        <ul class="row section-common-nopadding">
            @foreach (var flavor in Model.MenuFlavorViews)
            {
                <li class="col-sm-4 col-md-4"><span>@flavor.Text</span></li>
            }
        </ul>
        <p>
            @Html.Raw(Model.MenuViewModel?.FlavorsText)
        </p>
    </section>
    <section id="hookah-headers" class="section-common">
        <h1>@Html.Raw(Model.MenuViewModel?.FruitHeadTitle)</h1>
        <p>@Html.Raw(Model.MenuViewModel?.FruitHeadText) </p>
        <div class="hookah-headers-gallary row">
            @foreach (var fruitHead in Model.MenuFruitHeadViews)
            {
                <div class="hookah-headers-gallary-item col-md-6">
                    <img src="@fruitHead.ImagePath" alt="">
                    <div class="overlay"></div>
                    <h2>@fruitHead.Name</h2>
                </div>
            }
        </div>
        <div class="call-buttons d-flex flex-md-row flex-column align-items-center justify-content-md-center justify-content-center">
            <a href="@Url.Action(nameof(CateringController.Index),"Catering")" class="call-button my-3 my0-md-0">Have @Model.SiteConfiguration.CompanyName cater your event</a>
        </div>
    </section>
</main>

