
@using Hookah.Areas.Administration.Controllers
@using Hookah.Resources
@using Hookah.Areas.Administration.Models
@using Hookah.Constants
@using Hookah.Areas.Administration.ViewComponents
@model ChangePasswordViewModel


<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Profile Change Password-->
        <div class="d-flex flex-column align-items-lg-start flex-lg-row">
            <!--begin::Aside-->
            @await Component.InvokeAsync(nameof(MyProfileLeftAside))
            <!--end::Aside-->
            <!--begin::Content-->
            <div class="flex-row-fluid ml-lg-8">
                <!--begin::Card-->
                <div class="card card-custom">
                    <!--begin::Header-->
                    <div class="card-header py-3">
                        <div class="card-title align-items-start flex-column">
                            <h3 class="card-label font-weight-bolder text-dark">@UI.ChangePassword</h3>
                        </div>
                        <div class="card-toolbar">
                            <button type="button" onclick="submit()" class="btn btn-success mr-2">@UI.Submit</button>
                        </div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Form-->
                    <form class="form" asp-action="ChangePassword" asp-controller="Account" method="post"
                           data-ajax="true"
                              data-ajax-method="POST"
                              data-ajax-begin="onBegin"
                              data-ajax-success="onSuccess"
                              data-ajax-failure="onFailure" id="changePasswordForm">
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label text-alert">@UI.CurrentPassword</label>
                                <div class="col-lg-9 col-xl-6">
                                    <input type="password" class="form-control form-control-lg form-control-solid mb-2" asp-for="CurrentPassword" placeholder="@UI.CurrentPassword" />
                                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label text-alert">@UI.NewPassword</label>
                                <div class="col-lg-9 col-xl-6">
                                    <input type="password" asp-for="NewPasword" class="form-control form-control-lg form-control-solid" placeholder="@UI.NewPassword" />
                                    <span asp-validation-for="NewPasword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-xl-3 col-lg-3 col-form-label text-alert">@UI.ConfirmPassowrd</label>
                                <div class="col-lg-9 col-xl-6">
                                    <input type="password" asp-for="ConfirmPassword" class="form-control form-control-lg form-control-solid" placeholder="@UI.ConfirmPassowrd" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--end::Form-->
                </div>
            </div>
            <!--end::Content-->
        </div>
        <!--end::Profile Change Password-->
    </div>
    <!--end::Container-->
</div>


@section Scripts{
        <script>

            function submit() {
                $("#changePasswordForm").submit();
            }
           function onBegin() {

           }
           function onSuccess(data) {
               window.location.href = "@Url.Action(nameof(AccountController.UserProfile), AccountController.Name,new { area=AreaConstants.Admin })";
           }
           function onFailure(data) {
           }
    </script>
}