@model HomeFullViewModel
@using Hookah.Controllers 
@{
    ViewData["Title"] = "Home Page";
}

<main id="home">
    <section id="mainPhoto">
        <div class="background">
            <div class="image">
                <picture>
                    <source srcset="@(Model.HomeViewModel.ImageMB ?? "sources/img/default-mb.jpg")"
                            media="(max-width: 768px)" />
                    <source srcset="@(Model.HomeViewModel.ImagePL ?? "sources/img/default-pl.jpg" )"
                            media="(max-width: 1200px)" />
                    <img src="@(Model.HomeViewModel.ImageLP ?? "sources/img/default-lp.jpg")" />
                </picture>
                <div class="overlay"></div>
            </div>
            <div class="backgroundContent d-flex flex-column align-items-center justify-content-center">
                <h2>@Html.Raw(Model.HomeViewModel.ImageTitle)</h2>
                <img src="@(Model.SiteConfiguration.CompanyLogoImage ?? "sources/img/company-icon.jpg")" alt="">
            </div>
        </div>
    </section>
    <section id="experience">
        <div class="section-common">
            <div class="experience-top ">
                <p>
                    @Html.Raw(Model.HomeViewModel?.ParagraphText)
                </p>
                <a href="tel:@Model.SiteConfiguration.PhoneNumberForCall" class="call-button">@Html.Raw(Model.HomeViewModel?.CallButtonText)</a>
            </div>
            <div class="experience-gallary">
               
                    @foreach (var item in Model.HomeLinkViewModels)
                    {
                        <div class="experience-gallary-item">
                            <div class="experience-gallary-item-img">
                                <img src="@item?.ImagePath" alt="">
                                <div class="overlay"></div>
                            </div>
                            <div class="experience-gallary-item-content d-flex flex-column justify-content-center align-items-center">
                                <h1>@Html.Raw(item?.Name)</h1>
                                <a href="@(item?.Link ?? Url.Action(nameof(HomeController.Index),"Home"))" class="call-button">@item.Name</a>
                            </div>
                        </div>
                    }
                


                @*<div class="experience-gallary-item">
            <div class="experience-gallary-item-img">
                <img src="sources/img/experience2.jpg" alt="">
                <div class="overlay"></div>
            </div>
            <div class="experience-gallary-item-content d-flex flex-column justify-content-center align-items-center">
                <h1>HOOKAH Cathering</h1>
                <a href="#" class="call-button">Learn more</a>
            </div>
        </div>
        <div class="experience-gallary-item">
            <div class="experience-gallary-item-img">
                <img src="sources/img/experience3.jpg" alt="">
                <div class="overlay"></div>
            </div>
            <div class="experience-gallary-item-content d-flex flex-column justify-content-center align-items-center">
                <h1>HOOKAH Contact</h1>
                <a href="#" class="call-button">Learn more</a>
            </div>
        </div>*@
            </div>
        </div>


    </section>
</main>